In [1]:
l=[27,82,7,6,5]
for i in l:
    print(f"square {i} is {i*i}")

square 27 is 729
square 82 is 6724
square 7 is 49
square 6 is 36
square 5 is 25

In [3]:
#ascii value of vowel
s='hortizontal'
for i in s:
    if i in 'aeiou':
        print(f"ascii vale of {i} is {ord(i)}")

        print(i,ord(i))

ascii vale of o is 111
o 111
ascii vale of i is 105
i 105
ascii vale of o is 111
o 111
ascii vale of a is 97
a 97

In [4]:
# wap to store all the no's greater than from the list ,inside a list
l=[2,3,5,9,10]
out=[]
for i in l:
   if i>5:
       out.append(i)
print(out)

[9, 10]

In [6]:
#  range function is used to generate a series of integer no's

for i in range(15,51):
   if i %2==0:
    print(f"Even numbers:{i}")

Even numbers:16
Even numbers:18
Even numbers:20
Even numbers:22
Even numbers:24
Even numbers:26
Even numbers:28
Even numbers:30
Even numbers:32
Even numbers:34
Even numbers:36
Even numbers:38
Even numbers:40
Even numbers:42
Even numbers:44
Even numbers:46
Even numbers:48
Even numbers:50

In [7]:

#segrigate even and odd number into different list within the range of 100 to 200

odd=[]
even=[]
for i in range (100,200):
    if i %2==0:
        even.append(i)
    else:
        odd.append(i)
print(f"even number:{even}")
print(f"od number:{odd}")

even number:[100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
od number:[101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [8]:
#wap to print all the consonents to present inside the string taken as input from user 

str=input("Enter the string:")
for i in str:
    if i not in "aeiou":
        print (i)

r
m

In [9]:
# wap  to get the following output
#inp='hello everyone good morning'
#out=[2,4,2,2]

inp="hello everyone good morning"
l=[]
for i in inp.split():
    count=0
    for j in i:
        if j in 'aeiou':
            count+=1
    l.append(count)
print(l)

[2, 4, 2, 2]

In [10]:
#1.wap to print the number form 1 -20 segreate even and odd number in the list

even=[]
odd=[]
for i in range(1,21):
    if i%2==0:
      even.append(i)
    else:
        odd.append(i)
print("Even list :",even)
print("Odd list :",odd)

Even list : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd list : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
#2. wap  to extract vowels and digits in a string s='hello123'  

s='hello123'
vowel=''
digits=''
for i in s:
    if i in 'aeiou':
        vowel+=i
    elif i in '0123456789':
        digits+=i
    else:
        print("invalid char")
print("Vowel :",vowel)
print("Digits : " ,digits)

invalid char
invalid char
invalid char
Vowel : eo
Digits :  123

In [12]:
'''3.wap to capitilize only the first letter of every word in the given list
l=["vaidegi","rahul","shivam","kapil","patil"]
use .upper().
.capitalize(): it converts the firstletter of a string into uppercase by default.'''

"""l=["vaidegi","rahul","shivam","kapil","patil"]
l1=[]
for i in l:
    a=i[0].upper()+i[1:]
    l1.append(a)
print(l1)"""

#-------------------------------------------------------

l=["vaidegi","rahul","shivam","kapil","patil"]
l1=[]
for i in l:
    a=i.capitalize()
    l1.append(a)
print(l1)

['Vaidegi', 'Rahul', 'Shivam', 'Kapil', 'Patil']

In [13]:
#4.wap to extract only individual datatypes form the list
l=["hello",1,23.4,5+6j,"guys",[2,3,4],True,False]
l=eval(input("Enter the list :"))
for i in l:
    a=type(i)
print(a)

<class 'int'>

In [14]:
'''5.wap to extract only individual datatypes from the list and sum all the individual datatypes
l=["hello",1,23.4,5+6j,"guys",[2,3,4],True,False]'''


l=["hello",1,23.4,5+6j,"guys",[2,3,4],True,False]
s=0
for i in l:
    if type(i)==int or type(i)==float or type(i)==complex or type(i)==bool :
        s=s+i
print(s)

(30.4+6j)

In [15]:
'''#6.wap to print the count of alphabets and numbers and space in the given string
s=india got the independence in the year 1947'''


s='india got the independence in the year 1947'
count=0
dco=0
sco=0
for i in s:
    if i.isalpha():
        count+=1
    elif i.isdigit():
        dco+=1
    elif i.isspace():
        sco+=1
print(f"alpha count: {count}")
print(f"digit count: {dco}")
print(f"space count: {sco}")

alpha count: 32
digit count: 4
space count: 7

In [16]:
'''7.wap to check how many words are present in the given sentence
s="hello world sentence"
'''

s="hello world sentence"
a=s.split()
count=0
for i in a:
    count+=1

print(count)

3

In [17]:
'''18.WAP to print sum of internal and extrtenal list
l = [[1,2,3], [4,5,6], [7,8,9]]
output:-->
   #internal = 6, 15, 24    
   #external --> 45'''

l = [[1,2,3], [4,5,6], [7,8,9]]

external_sum = 0   
print("Internal Sum:", end=" ")
for sublist in l:
    internal_sum = 0
    
    for num in sublist:
        internal_sum += num
    
    print(internal_sum ,end=", ")
    external_sum += internal_sum

print("\nExternal Sum:", external_sum)

Internal Sum: 6, 15, 24,
External Sum: 45

In [18]:
'''9.wap to create a dictionary and traverse into it and if the length is even print as it else reverse itnames=["apple","google","yahoo","microsoft","gmail","walmart"]
output:-->{apple': 'elppa', 'google': 'google', 'yahoo': 'oohay', 'microsoft': 'tfosorcim', 'gmail': 'liamg', 'walmart': 'tramlaw'}
'''
names = ["apple", "google", "yahoo", "microsoft", "gmail", "walmart"]

d = {}   
for word in names:

    if len(word) % 2 == 0:   
        d[word] = word
    else:   
        d[word] = word[::-1]

print(d)

{'apple': 'elppa', 'google': 'google', 'yahoo': 'oohay', 'microsoft': 'tfosorcim', 'gmail': 'liamg', 'walmart': 'tramlaw'}

In [19]:
'''10.wap to print series of factorial(take user input)'''

num=int(input("Enter the number :"))
fact=1
for i in range(1,num+1):
    fact*=i
print(f"factorial of {num} is {fact}.")

factorial of 4 is 24.

In [20]:
'''11.wap to create a dictionary with element and its count pair
l=["yellow","red","black","pink","orannge","green","red","pink","yellow"]
output:-->
{yellow': 2, 'red': 2, 'black': 1, 'pink': 2, 'orannge': 1, 'green': 1}'''

l = ["yellow","red","black","pink","orannge","green","red","pink","yellow"]

d = {}   

for i in l:
    if i in d:          
        d[i] += 1
    else:              
        d[i] = 1

print(d)

{'yellow': 2, 'red': 2, 'black': 1, 'pink': 2, 'orannge': 1, 'green': 1}

In [21]:
'''12.wap to find the length of the string without useing inbuilt function
s="Never Give Up" '''


s="Never Give Up"
count=0
for i in s:
    count+=1
print("Length of the string is :",count)

Length of the string is : 13

In [22]:
'''13.wap to reverse a string without using inbuilt function
x="you did it guys"'''
x="you did it guys"
print("Original string :",x)
rev=""
for i in x:
    rev=i+rev
print(f"Reversed string :{rev}")

Original string : you did it guys
Reversed string :syug ti did uoy

In [23]:
'''14.wap to print alternative character from a given string
s="hello python"'''
s="hello python"
for i in s:
    if s.index(i)%2==0:
        print(i,end=" ")

h l l o p t h o

In [24]:
'''15.wap to replace all the character with "-" if the characters occurs more than once in a string
s="hellohai"
o/p---->-e--o-ai'''

s="hellohai"
a=''
for i in s:
    if i in 'aeiou':
        a+=i
    else:
        a+='-'
print(a)

-e--o-ai

In [25]:
'''16.wap to get  output:--->1234 in below question
t=("1","2","3","4")'''

t=("1","2","3","4")
for i in t:
    print(i,end="")
#--------------------------------
"""t=("1","2","3","4")
a=''
for i in t:
    a+=i
print(a)"""

1234

't=("1","2","3","4")\na=\'\'\nfor i in t:\n    a+=i\nprint(a)'

In [26]:
'''17.wap to Sum of numbers
s = 'Sony12India567pvt21ltd' '''

s = 'Sony12India567pvt21ltd'
sum = 0
for i in s:

    if i.isdigit():
        sum += int(i)
print("Sum of numbers:", sum)

Sum of numbers: 24

In [27]:
'''18.WAP to print sum of internal and extrtenal list
l = [[1,2,3], [4,5,6], [7,8,9]]
output:-->
   #internal = 6, 15, 24    
   #external --> 45'''

l = [[1,2,3], [4,5,6], [7,8,9]]

external_sum = 0   
print("Internal Sum:", end=" ")
for sublist in l:
    internal_sum = 0
    
    for num in sublist:
        internal_sum += num
    
    print(internal_sum ,end=", ")
    external_sum += internal_sum

print("\nExternal Sum:", external_sum)

Internal Sum: 6, 15, 24,
External Sum: 45

In [28]:
'''19. WAP to remove duplicates from the list without using set or empty list
d=[1,2,3,4,5,6,7,1,2,3,4]'''

d = [1,2,3,4,5,6,7,1,2,3,4]

for i in d:
    count = d.count(i)
    while count > 1:
        d.remove(i)   
        count -= 1

print("List after removing duplicates:", d)

List after removing duplicates: [5, 6, 7, 1, 2, 3, 4]

In [29]:
'''20.Print all the missing numbers from 1-10 in the below list
  l = [1, 2, 3, 4, 6, 7, 10]'''

l = [1, 2, 3, 4, 6, 7, 10]
for i in range(1, 11):
    if i not in l:
        print(i, end=" ")

5 8 9

In [30]:
'''21.Reverse a list without using any built-in fucntions and slicing.
  l = [1, 2, 3, 4]
'''


l = [1, 2, 3, 4]
rev=[]
for i in l:
    rev.insert(0,i)
print(rev)

[4, 3, 2, 1]

In [31]:
inp="python programming language"
a=inp.split()
d={}
for i in a:
    d[i]=i[0]+i[-1]
print(d)

{'python': 'pn', 'programming': 'pg', 'language': 'le'}

In [33]:
#wap to print this list using the below output

"""l=['sun flower','lilly flower','Marigold flower','lion animal','tiger animal','eagle bird','snake animal','lotus flower','pigeon bird']

d={}
for i in l:
    a=i.split()
    
    if a [-1]=='flower':
        if 'flower' not in d:
            d[a[-1]]=[a[0]]
        else:
            d[a[-1]]+=[a[0]]
        
print(d)


"""

l=["apple", "samsung", "oracle", "flipcart", "facebook", "instagram", "amazon", "ebay"]

d={'odd':[],'even':[]}
for i in l:
    if len(i)%2==0:
        d["even"].append(i)
    else:
        d["odd"].append(i)
print(d)

{'odd': ['apple', 'samsung', 'instagram'], 'even': ['oracle', 'flipcart', 'facebook', 'amazon', 'ebay']}

In [38]:
"""d=[]
for i in l:
    if 'flower'in i:
        x=i.split()
        l1=[]
        f=l1.append(x[0])

        d['flower']=x[0]
    elif 'animal' in i:
        x=i.split()
        d['animal']=x[0]
    elif 'bird'in i:
        x=i.split()
        d['bird']=x[0]
print(d)"""


d={'flower':[],'animal':[],'bird':[]}
for i in l:
    x=i.split()
    if 'flower' in l:
        d=l1.append(x[0])
    elif animal in i:

_IncompleteInputError: incomplete input (1707771104.py, line 27)