In [1]:
# wap to print n natural numbers
i = 1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# wap to print all the even numbers between 1 to 100
i=0
while i<=100:
    print(i)
    i+=2

    # or

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [1]:
# wap to print numbers which are divisible by 3 and 5 and between 1  to 15
i=1
while i<1:
    if i%3==0 and i%5==0:
        print(i)
    i+=1

In [8]:
# wap to printsome first 10 natural numbers

i=1
s=0
while i<11:
    s+=i # s=s=i
    i+=1
print(s)

55

In [9]:
# wap to print sum of product first 10 natural numbers

i=1
s=0
while i<11:
    s+=i # s=s=i
    i+=1
print(s)

55

In [ ]:
# wap to extract all the upper case of the alphabets from ye given string

# s=input("Enter the string:")
# while i<=len(s):
#     if i.isupper():
#         counti+=1
#     i+=1
# print(count)


i = 0
while i < len(s):
    if s[i].isupper():
        print(s[i])
        count += 1
    i += 1
print(f"Total uppercase letters:" {count})

NameError: name 'count' is not defined

In [17]:
a = "Python"
i=0
out =''
while i <len(a):
    if 'A'<a[i]<'Z':
        out +=A[i] 
    i+=1
print(out)

NameError: name 'A' is not defined

In [20]:
# wap to extract all the  vowels of the strings
s="AEIOUaeiou"
count=0
i=0
out =''
while  i<len(s):
    if s[i] in "AEIOUaeiou":
        print(s[i])
        out +=s[i]
        count+=1
    i+=1
print("count :",count)
print("output",out)

A
E
I
O
U
a
e
i
o
u
count : 10
output AEIOUaeiou

In [25]:
s='DaTAScieNCe'
count=0
i=0
out =''
while  i<len(s):
    if  "A" <=s[i] <="Z":
         
        print(s[i])
        out +=s[i]
        count+=1
    i+=1
print("count :",count)
print("output",out)
print("output",out+str(count))

D
T
A
S
N
C
count : 6
output DTASNC
output DTASNC6

- While loop --

    - initialization(i)
    - condition(while)
    - logic(program)
    - updation()

In [2]:
# wap to print hello word 10 times
i=1
while i<=10:
    print("hello word")
    i+=1

hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word

In [7]:
# wap to print first n natural numbers.

i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
# wap to print all even numbers beyween 1 to 15
i=1
while i<=50:
    if i%2==0:

        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
# wap  to check the number is even print cube  odd print sqare numbers is 1 to 50
i=1
while i <=50:
    if i%2==0:
        print(i**3)
    else:
        print(i**2)
    i +=1

1
8
9
64
25
216
49
512
81
1000
121
1728
169
2744
225
4096
289
5832
361
8000
441
10648
529
13824
625
17576
729
21952
841
27000
961
32768
1089
39304
1225
46656
1369
54872
1521
64000
1681
74088
1849
85184
2025
97336
2209
110592
2401
125000

In [10]:
pro=1
i=1
while i<5:
    pro*=i
    i+=1
print(pro)

24

In [8]:
s= int(input("Enter the number:"))
e=int(input("Enter the number:"))
while s<e:
    if s % s==0:
        print(s)
    s+=0

In [4]:
i=1
s=0
while i<11:
    s+=i # s=s=i
    i+=1
print(s)

55

In [7]:
a=345
r=0
while a>0:
    ld=a%10
    r=r*10+ld
    a//=10
print(r)

543

In [14]:
num=345
rev=0
while num!=0:
    ld = num%10
    rev=rev*10+ld
    num=num//10
print(rev)

543

In [17]:
# wap to print all the uppercase alphabets frommthe given string
s=input("Enter the string:")

i = 0
while i < len(s):
    if "A"<=s[i] <="Z":
        print(s[i])
    i+=1

R
A
M
A
N

In [20]:
# 
s='DaTAScieNCe'
i=0
count=0
out =''
while  i<len(s):
    if  "A" <=s[i] <="Z":        
        count+=1
        out +=s[i]  
    i+=1
print(out+str(count))

DTASNC6

In [ ]:
# wap to print all the integers present inside a list
i=0
l=[1,23,'hii']
while i<len(l):
        if type(l[i]) == int:
            print(l[i],end=",")
        i+=1

1,23,

In [1]:
#12. wap wap to find the sum of all the integer numbers present inside given tuple.

a=eval(input("Enter the tuple :"))
sum=0
i=0
while i<len(a):
    if type(a[i])==int:
        sum=sum+a[i]
    i+=1
print("Sum of int:",sum)

Sum of int: 6

In [2]:
#8. wap to extract all the lower case characters present in a string taken as input  from the user. 

s = input("Enter a string: ")
lower_chars = ""
for a in s:
    if a.islower():
        lower_chars += a
print("Lowercase characters:", lower_chars)

Lowercase characters: eesa

In [3]:
#14.wap to print both upper and lower case characters.

up=''
lo=''
a=input("Enter the string:")
i=0
while i<len(a):
    if a[i].isupper():
        up+=a[i]
    elif a[i].islower():
        lo+=a[i]
    i+=1 
print("upper:",up)
print("lower:",lo)

upper: ASDFVB
lower:

In [5]:
#11. wap to extract all the values at even index given in a list only if they are 
#float values.


n=eval(input("Enter the list:"))
i=0
while i<len(n):
    if i%2==0 and type(n[i])==float:
        print(n[i])
    i+=1

In [6]:
#wap to count the number of vowel present in given string
i=0
s='hello python'
count=0
while i<len(s):
    if s[i] in 'aeiouAEIOU':
        count+=1
    i+=1
print(count)

3

In [7]:
#1.wap to print the names only if the length of the names is even 
#l=["vaidegi","ashwini","patil","srinidhi","susmitha","rahul","priyanka","usha"] 

l=["vaidegi","ashwini","patil","srinidhi","susmitha","rahul","priyanka","usha"] 
i=0
while i<len(l):
    if len(l[i]) %2==0:
        print(l[i])
    i+=1

srinidhi
susmitha
priyanka
usha

In [8]:
#5.wap to extract only vowels and digits from the given string 
#s="hellopython123" 


s = "hellopython123"
result = ""
for a in s:
    if a.lower() in "aeiou" or a.isdigit():
        result += a
print("Vowels and digits:", result)

Vowels and digits: eoo123

In [9]:
#4..wap to print sum of numbers in the list 
#l=[2,4,6,7,8,9] 

l=[2,4,6,7,8,9]
sum=0
i=0
while i<len(l):
    a=l[i]
    sum=sum+a
    i+=1
print(sum)

36

In [10]:
#14.wap to print both upper and lower case characters.


up=''
lo=''
a=input("Enter the string:")
i=0
while i<len(a):
    if a[i].isupper():
        up+=a[i]
    elif a[i].islower():
        lo+=a[i]
    i+=1 
print("upper:",up)
print("lower:",lo)

upper: W
lower: ram

In [11]:
#9. wap tp extract all the special characters present in a string taken as input but 
#the user.s = input("Enter a string: ")


n=input("Enter the String:")
i=0
chrs=''
while i<len(n):
    if not('a'<=n[i]<='z' or 'A'<=n[i]<='Z' or '0'<=n[i]<='9'):
        chrs+=n[i]
    i+=1
print("Special characters:",chrs)

Special characters:

In [12]:
#2.wap to print the elements which in tuple,print only the if it is collection data 
#types 
#values=(10,2.5,[10,20],"hero",True,(3,4,5),{2,7},{90:"super"})

values=(10,2.5,[10,20],"hero",True,(3,4,5),{2,7},{90:"super"})
i=0
while i<len(values):

    if type(values[i]) == tuple:
        print(values[i])
    i+=1

(3, 4, 5)

In [13]:
#7. wap to find the factorial of a number. 


fact=1
n=int(input("enter the number:"))
i=1
while i<=n:
    fact=fact*i
    i+=1
print(fact)

12146304367025329675766243241881295855454217088483382315328918161829235892362167668831156960612640202170735835221294047782591091570411651472186029519906261646730733907419814952960000000000000000000000000000

In [14]:
#6. wap to print the sum of n natural numbers. 

sum=0
i=0 
while i<101:
    sum+=i
    i+=1
print(sum)

5050

In [15]:
#10. wap to extract all the digits present in the string taken as input from the 
#user


s = input("Enter a string: ")
digits = ""
for a in s:
    if a.isdigit():
        digits += a
print("Digits:", digits)

Digits:

In [16]:
#3.wap to print the name which is starting with vowel in the given list 
#names=["agra","bangalore","mumbai","pune","indore","isha","eshwar","surat"] 

names=["agra","bangalore","mumbai","pune","indore","isha","eshwar","surat"] 

i=0
count=0
while i<len(names):
    a=names[i]
    if (a[0]) in 'aeiouAEIOU':
        count+=1
        print(names[i])
    i=i+1
print(count)

agra
indore
isha
eshwar
4

In [17]:
#13.wap to print a number which are divisible by 5 from a list 
#l=[63,20,67,55,85,31]

l=[63,20,67,55,85,31]
i=0
while i<len(l):
    if l[i] % 5 ==0:
        print(l[i])
    i+=1

20
55
85

In [18]:
#12. wap wap to find the sum of all the integer numbers present inside given 
#tuple. 

n=eval(input("Enter the tuple:"))
i=0
sum=0
while i<len(n):
    if type(n[i])==int:
        sum+=n[i]
    i+=1
print("Sum of integers:",sum)

NameError: name 'ram' is not defined

In [19]:
#wap to print table of a number taken as input from user
i=0
while i<11:
    print("hell0")
    i+=1

hell0
hell0
hell0
hell0
hell0
hell0
hell0
hell0
hell0
hell0
hell0

In [20]:
i=1
while i<50:
    print(i)
    i+=1
i<=50
51<=50

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

False

In [ ]:
#wap to to print square of all no present inside the list
#l=(5,9,8,17,62)

l=(5,9,8,17,62)
i=0
while i<len[l]:
    print(l[i])**2
    i+=1

In [ ]:
#wap to print only constant present inside a string
#s='Hello guys how are you'

s='Hello guys how are you'
i=0
while i<len(s):
    if s[i] not in 'aeiouAEIOU':
        print("constant--",s[i])
    i+=1

In [ ]:
#wap to print table of a number taken as input from user 
a=int(input("enter the number:"))
i=1
while i<=10:
    print(a,"x",i,"=",a*i)
    i+=1

In [ ]:
#wap to print only multivalued data type taken as input from user

l=eval(input("Enter the list:"))
i=0
while i<len(l):
    s=l[i]
    if type(s) in [str,list,tuple,set,dict]:
        print ("Multivalued data----",l[i])
    i+=1

In [ ]:
# wap to print all the odd number which are greater than 10 between 10 and 50


i=1
while i < 50:
        if i%2!=0:
            if i>10:
                   print(i)
           
        i+=1

In [8]:
a = 'aababcdadb'
i = 0
ca = 0
cb=0
cc=0
cd=0

while i<len(a):
    if a[i]=="a":
        ca+=1
    elif a[i]=="b":
        cb+=1
    elif a[i]=="c":
        cc+=1
    elif a[i]=="d":
        cd+=1
    i+=1
print(f"a{ca}b{cb}c{cc}d{cd}")

a4b3c1d2

In [10]:
# extract a4b3c1d2 in aababcdadb using while loop
a = 'aababcdadb'
i=0
out ='' 
while i <len(a):
    count=1
    while i+1 <len(a) and a[i]==a[i+1]:
        count+=1
        i+=1
    out += a[i]+str(count)
    i+=2
print(out)

a2a1c1a1b1

In [3]:
a = 'aaabcbbc'
i = 0
out = ''
c = 1
while i<len(a)-1:
    if a[i]==a[i+1]:
        c+=1
    else:
        out+=a[i]+str(c)
        c=1
    i+=1
out+=a[-1]+str(c)
print(out)

a3b1c1b2c1

In [ ]:
# = ['Hai',10,'Hai',3+5j,36,10,[1,2,3]]print['Hai',10] using while 
a = ['Hai',10,'Hai',3+5j,36,10,[1,2,3]]
i=0
out =[]
while i <len(a):
    if a[i] not in out:
        if a.count(a[i]):

            out+=[a[i]]
        i+=1

print(out)

In [19]:
a =[777,'Hello',121,12,3+5j,99,123] 

i=0
out=[]
while i<len(a):
    if type (a[i]) == int:
        l=str(a[i])
        if l==l[::-1]:
            
            out+=[a[i]]
    i+=1
print(out)

[777, 121, 99]

In [2]:
a =['Hello',10,'Python','str',[1,2,3],'ab']

i=0
out={}
while i<len(a):
    if type(a[i])==str:
        if i%2==0:
            out[a[i]]=a[i][::-1]+str(2*len(a[i]))
        else:
            out[a[i]]=2*len(a[i])

    i+=1
print(out)

{'Hello': 'olleH10', 'Python': 'nohtyP12', 'str': 6, 'ab': 4}

In [7]:
# a ='((()))('   print 1 
i=0
c1=0
c2=0
while i<len(a):
    if a[i]=="(":
        c1+=1

    elif a[i]==")":
        c2+=1
    b=(c1-c2)
    i+=1
print(b)

1