- üßæ TYPECASTING IN PYTHON---

üß† Definition -

1) Typecasting (Type Conversion) means converting one data type into another.

2) It‚Äôs used when you need to perform operations on incompatible data types.

---------------- OR------------------------

3) It is a phenomenon of converting data from data type to another.

Syntax <required_data_type>(expression)

- Notepoint---

Python supports a wide variety of funtion or method like:int(),float(),str(),ord(),hex(),oct(),typle(),set(),list(),dict(),etc.for the typecasting in python.

In [4]:
# Example

a = "1"
b = "2"
print(a+b)

12

In [5]:
a = 1
b = 2
print(a+b)

3

In [ ]:
# using typecasting

a = "1"
b = "2"
print(int(a) + int(b))

3

# There are two type of Typecasting:
1) Explit Conversion (Explit type casting in python)
2) Implict Conversion (Implicit type casting in pythn)

1) Explit typecasting-- The coversion of one datatype into another datatype ,done via developer or programmaers interview or manually as per the reuirement is known as explit type conversion. 

It can be achived with the help of python built in type conversion function such as int(), float(), hex(), oct(), str(), etc.

üëâ You manually convert one type to another using built-in functions.

In [7]:
# Example--1 

x = "100"
y = int(x)   # convert string to int
z = float(x) # convert string to float

print(y, type(y))
print(z, type(z))

100 <class 'int'>
100.0 <class 'float'>

In [ ]:
# Invalid Typecasting Example
#Not all conversions are possible:

a = "hello"
b = int(a)  # ‚ùå Error: cannot convert string to int

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
#Example 2

string="15"
number=7
string_number=int(string)
sum=number + string_number
print("The sum of both the numbers is:",sum)

The sum of both the numbers is: 22

In [ ]:
#üß† 1Ô∏è‚É£ String ‚Üí Integer / Float

# Convert string containing numbers
x = "100"
y = int(x)         # String to Integer
z = float(x)       # String to Float

print(y, type(y))  # 100 <class 'int'>
print(z, type(z))  # 100.0 <class 'float'>

100 <class 'int'>
100.0 <class 'float'>

In [ ]:
#üß† 2Ô∏è‚É£ Float ‚Üí Integer

a = 45.67
b = int(a)         # Removes decimal part
print(b, type(b))  # 45 <class 'int'>

45 <class 'int'>

In [ ]:
#üß† 3Ô∏è‚É£ Integer / Float ‚Üí String

num = 200
price = 45.9

print(str(num))     # '200'
print(str(price))   # '45.9'

200
45.9

In [14]:
name = "Ankit"
age = 22
print(name + " is " + str(age) + " years old.")

Ankit is 22 years old.

In [ ]:
#4Ô∏è‚É£ String ‚Üí List / Tuple

text = "Python"

print(list(text))   # ['P', 'y', 't', 'h', 'o', 'n']
print(tuple(text))  # ('P', 'y', 't', 'h', 'o', 'n')

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
#5Ô∏è‚É£ List ‚Üí Tuple / Set

nums = [1, 2, 2, 3]

print(tuple(nums))  # (1, 2, 2, 3)
print(set(nums))    # {1, 2, 3}

(1, 2, 2, 3)
{1, 2, 3}

In [ ]:
#6Ô∏è‚É£ Tuple ‚Üí List

tp = (10, 20, 30)
lst = list(tp)

print(lst, type(lst))  # [10, 20, 30] <class 'list'>

[10, 20, 30] <class 'list'>

In [ ]:
#7Ô∏è‚É£ List of Tuples ‚Üí Dictionary

data = [(1, 'A'), (2, 'B'), (3, 'C')]
dict_data = dict(data)
print(dict_data)        # {1: 'A', 2: 'B', 3: 'C'}

{1: 'A', 2: 'B', 3: 'C'}

In [ ]:
#8Ô∏è‚É£ Boolean Conversions

print(int(True))    # 1
print(int(False))   # 0
print(bool(0))      # False
print(bool(25))     # True

1
0
False
True

In [ ]:
#9Ô∏è‚É£ Complex Conversion

print(complex(5))        # (5+0j)
print(complex(3, 4))     # (3+4j)

(5+0j)
(3+4j)

In [ ]:
#0Ô∏è‚É£ Invalid Example (Causes Error)

a = "abc"
b = int(a)       # ‚ùå ValueError: invalid literal for int()

ValueError: invalid literal for int() with base 10: 'abc'

# 2Ô∏è‚É£ Implicit Typecasting (Automatic Conversion)

1) According to this one data type is converted into other (automatically), This is called,Implict Typecasting in python. 

2) Python converts small data type to a higher data type to prevent data loss.
 
 --------------------OR--------------------------------------------------------
 
‚û° Done automatically by Python (the interpreter).

‚û° Python automatically converts one data type to another to prevent data loss during operations.

In [ ]:
#‚úÖ Example 1:

c = 1.6
d = 8
print(c+d)

9.6

In [ ]:
#‚úÖ Example 2:

a = 10        # Integer
b = 5.5       # Float
c = a + b     # Integer + Float ‚Üí Float
print(c)      # 15.5
print(type(c))# <class 'float'>

15.5
<class 'float'>

In [ ]:
#‚úÖ Example 3:

x = True
y = 4
z = x + y     # True ‚Üí 1 automatically
print(z)      # 5
print(type(z))# <class 'int'>

5
<class 'int'>

In [ ]:
#Example 1: int + float ‚Üí float

a = 10        # int
b = 2.5       # float
c = a + b
print(c)          # 12.5
print(type(c))    # <class 'float'>

12.5
<class 'float'>

In [33]:
#Example 2: bool + int ‚Üí int

x = True      # treated as 1
y = 4         # int
z = x + y
print(z)          # 5
print(type(z))    # <class 'int'>

5
<class 'int'>

In [29]:
#Example 3: int + complex ‚Üí complex

a = 5         # int
b = 3 + 2j    # complex
c = a + b
print(c)          # (8+2j)
print(type(c))    # <class 'complex'>

(8+2j)
<class 'complex'>

In [30]:
#Example 4: bool + float ‚Üí float

x = False     # 0
y = 4.8       # float
z = x + y
print(z)          # 4.8
print(type(z))    # <class 'float'>

4.8
<class 'float'>

In [31]:
#Example 5: int / int ‚Üí float

a = 7
b = 2
result = a / b
print(result)        # 3.5
print(type(result))  # <class 'float'>

3.5
<class 'float'>

In [32]:
#Example 6: Mixing int, float, and complex

a = 5       # int
b = 2.5     # float
c = 3 + 4j  # complex

result = a + b + c
print(result)        # (10.5+4j)
print(type(result))  # <class 'complex'>

(10.5+4j)
<class 'complex'>

üîë Type Promotion Order (Low ‚Üí High):


bool ‚Üí int ‚Üí float ‚Üí complex

üß† Key Points:

| Feature        | Explicit Typecasting        | Implicit Typecasting                |
| -------------- | --------------------------- | ----------------------------------- |
| Performed by   | Programmer                  | Python Interpreter                  |
| Control        | Full manual control         | Automatic                           |
| Functions used | int(), float(), str(), etc. | No function ‚Äî happens automatically |
| Example        | `float("5")`                | `5 + 5.5 = 10.5`                    |